.git
.gitignore
.gitattributes

/vendor
/node_modules

.env
.env.*
!.env.example

/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*

.vscode
.idea
.cursor
.nova
.zed
.phpactor.json
_ide_helper.php
_ide_helper_models.php

/tests
phpunit.xml
.phpunit.result.cache
/.phpunit.cache

README.md
Homestead.json
Homestead.yaml
levantar-local.bat
_source/

.DS_Store
Thumbs.db
*.log

.github/

.npmrc
npm-debug.log*
